* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
}

:root {
    --color-primary: #F43F5E;
}

/* Hide webkit (Chrome, Safari) scrollbars */
*::-webkit-scrollbar {
    display: none;
}

/* Improve mobile scrolling behavior */
.tab-content {
    height: 100%;
    width: 100%;
    -webkit-overflow-scrolling: touch; /* For better scrolling on iOS */
}

/* Fix for mobile overflow issues */
@media (max-width: 768px) {
    html, body {
        overflow-x: hidden;
        position: relative;
    }
}