---
interface Project {
    name: string;
    description: string;
    link: {
        url?: string;
        target?: string;
        title?: string;
        buttonLabel?: string;
    };
};

const projects: Project[] = [{
    name: 'Gopherize.me',
    description: 'Gopherize.me started as a fun side project between me and my friend Mat Ryer. We wanted to give folks in the Go community a way to create their own Gopher avatars—just a simple, joyful nod to the mascot we all love.',
    link: {
        url: 'https://gopherize.me/',
    }
}, {
    name: 'Gopher Art ',
    description: 'My art has found its way into both open source and developer communities. My version of the Go Gopher—drawn with a lot of respect for Renée French’s original—mixes the classic look with my own style. It’s one of the pieces I’m most proud of.',
    link: {
        url: 'https://github.com/ashleymcnamara/gophers'
    }
}, {
    name: 'Developer Advocate Bit',
    description: 'I chose Bit the raccoon as a symbol for Developer Advocates for a reason. Raccoons are smart, curious, and quick to adapt—just like we have to be. Our work is all about learning on the fly, navigating new territory, and figuring out how to best support our communities. Bit captures that energy perfectly.',
    link: {
        url: 'https://github.com/ashleymcnamara/Developer-Advocate-Bit'
    }
}];
---

<div>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        {projects.map(project => (
            <div class="flex flex-col justify-center items-start border border-gray-700 rounded-lg p-4 bg-black">
                <h3 class="text-xl font-semibold text-white mb-2">{project.name}</h3>
                <p class="text-gray-400">{project.description}</p>
                {project.link?.url && (
                    <a
                        href={project.link.url}
                        title={project.link.title || project.name}
                        target={project.link.target || '_blank'}
                        class="w-full px-4 py-2.5 mt-4 text-center border border-gray-600 rounded-lg hover:text-primary hover:border-primary"
                    >
                        {project.link.buttonLabel || 'Open Project Website'}
                    </a>
                )}
            </div>
        ))}
    </div>
</div>
